# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea/
/.vscode/
/.DS_Store

# SPA
spa/node_modules/
spa/dist/
spa/.vite/
spa/.env

# Outros
*.log
*.sqlite
*.sublime*
*.swp
*.bak
*.tmp

# Testes
coverage/

# Docker
.docker/

# VSCode
.vscode/
